<div class="container">
    <div class="row justify-content-center">
        <h1>@Localizer["HeaderOfMessage"]</h1>

        <p>
            @Localizer["TextOfMessage"]
        </p>
    </div>
</div>
